# Pliki środowiska wirtualnego i cache pythona
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Baza danych i pliki JSON z lotami (nie wersjonujemy danych lokalnych i testowych)
data/ba_tracker.db

# Ale uwaga: lookup_table.csv musi zostać zaciągnięty na repo!
!data/lookup_table.csv

# Inne
.VSCode/
.idea/
.DS_Store
*.swp
